.languages {
  display: flex;
  column-gap: 35px;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  margin: 0 30px;

  &::before,
  &::after {
    content: '';
    width: 1px;
    height: 20px;
    display: block;
    background: var(--border-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
