.action {
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  display: flex;

  svg {
    transition: fill ease 0.2s, opacity ease 0.1s;
  }

  &:hover svg {
    fill: #000;
  }

  &:active svg {
    opacity: 0.5;
  }
}

.row {
  display: flex;
  column-gap: 5px;
}
